@model StudyCESI.Model.Entities.Exam

@{
    ViewData["Title"] = "Delete";
}

<h2>Examen</h2>

<h3>Etes-vous sûrs de vouloir le supprimer ?</h3>
<div>
    <h4>Supprimer un examen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberQuestions)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberQuestions)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NumberTriesAllow)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NumberTriesAllow)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ExamId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Retour à la liste</a>
    </form>
</div>
