@model PassExamViewModel

@{
    ViewData["Title"] = "Examen en cours";
}

<h2>Passage de l'examen : @Model.Exam.Name</h2>

<div class="row form-content">
    <div class="col-md-4">
        <form asp-action="Pass">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @for (int i = 0; i < Model.Questions.Count(); i++)
            {
                var question = Model.Questions.ElementAt(i);

                <input type="hidden" asp-for="UserExam.UserExamId" />

                @if (question.TypeQuestion.Name != "Trou")
                {
                    <div class="form-group">
                        <h3>@question.Header</h3>
                        <p><i>(@question.TypeQuestion.Wording - @question.Mark point)</i></p>
                    </div>
                }

                @if (question.TypeQuestion.Name == "Unique" || question.TypeQuestion.Name == "Multiple")
                {
                    <input type="hidden" asp-for="Questions.ElementAt(i).QuestionId" />

                    foreach (var answer in Model.ChoiceAnswers.Where(a => a.QuestionId == question.QuestionId).ToList())
                    {
                        <label for="@answer.ChoiceAnswerId" class="control-label">@answer.Answer</label>
                        <input for="@answer.ChoiceAnswerId" id="@answer.ChoiceAnswerId" type="@(question.TypeQuestion.Name == "Unique" ? Html.Raw("radio") : Html.Raw("checkbox"))" name="@question.QuestionId" value="@answer.Answer" />
                    }

                }
                else if (question.TypeQuestion.Name == "VraiFaux")
                {
                    <div class="form-group">
                        <label for="boolAnswer[@question.QuestionId]True" class="control-label">Vrai</label>
                        <input type="radio" for="boolAnswer[@question.QuestionId]True" id="boolAnswer[@question.QuestionId]True" name="boolAnswer[@question.QuestionId]" value="1" />
                        <label for="boolAnswer[@question.QuestionId]False" class="control-label">Faux</label>
                        <input type="radio" for="boolAnswer[@question.QuestionId]False" id="boolAnswer[@question.QuestionId]False" name="boolAnswer[@question.QuestionId]" value="0" />
                    </div>
                }
                else if (question.TypeQuestion.Name == "Trou")
                {
                    <div class="form-group">
                        <h3>@question.Header</h3>
                        <p><i>(@question.TypeQuestion.Wording - @question.Mark point))</i></p>
                    </div>
                }
            }

            <div class="form-group">
                <input type="submit" value="Valider l'examen" class="btn btn-default btn-create" />
                <p><i>Il vous reste <span id="ExamDuration"></span> secondes pour valider le test</i></p>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    
    <script type="text/javascript">

        // Timeout Exam
        let durationS = @Model.Exam.Duration * 60;
        setInterval(() => {
            durationS--;
            $("#ExamDuration").text(durationS);

            if (durationS == 0) {
                location.replace('Exam/Result/' + @Model.Exam.ExamId);
            }
        }, 1000)

    </script>
}