@model PassExamViewModel

@{
    ViewData["Title"] = "Examen en cours";
}

<h2>Passage de l'examen : @Model.Exam[0].Name</h2>

<div class="row form-content">
    <div class="col-md-4">
        <form asp-action="Pass">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            @foreach (var question in Model.Questions)
            {
                @if (question.TypeQuestion.Name != "Trou")
                {
                    <div class="form-group">
                        <h3>@question.Header</h3>
                        <p><i>(@question.TypeQuestion.Wording - @question.Mark point)</i></p>
                    </div>
                }

                @if (question.TypeQuestion.Name == "Unique")
                {
                    @foreach (var answer in Model.ChoiceAnswers)
                    {
                        <label for="choiceAnswer[@question.QuestionId][@answer.ChoiceAnswerId]" class="control-label">@answer.Answer</label>
                        <input type="radio" name="choiceAnswer[@question.QuestionId]" id="choiceAnswer[@question.QuestionId][@answer.ChoiceAnswerId]" value="@answer.ChoiceAnswerId" />
                    }
                }
                else if (question.TypeQuestion.Name == "Multiple")
                {
                    @foreach (var answer in Model.ChoiceAnswers)
                    {
                        <label for="choiceAnswer[@question.QuestionId][@answer.ChoiceAnswerId]" class="control-label">@answer.Answer</label>
                        <input type="checkbox" name="choiceAnswer[@question.QuestionId]" id="choiceAnswer[@question.QuestionId][@answer.ChoiceAnswerId]" value="@answer.ChoiceAnswerId" />
                    }
                }
                else if (question.TypeQuestion.Name == "VraiFaux")
                {
                    <div class="form-group">
                        <label for="boolAnswer[@question.QuestionId]True" class="control-label">Vrai</label>
                        <input type="radio" for="boolAnswer[@question.QuestionId]" id="boolAnswer[@question.QuestionId]True" name="boolAnswer[@question.QuestionId]" />
                        <label for="boolAnswer[@question.QuestionId]False" class="control-label">Faux</label>
                        <input type="radio" for="boolAnswer[@question.QuestionId]" id="boolAnswer[@question.QuestionId]False" name="boolAnswer[@question.QuestionId]" />
                    </div>
                }
                else if (question.TypeQuestion.Name == "Trou")
                {
                    <div class="form-group">
                        <h3>@question.Header</h3>
                        <p><i>(@question.TypeQuestion.Wording - @question.Mark point))</i></p>
                    </div>
                }
            }

            <div class="form-group">
                <input type="submit" value="Valider l'examen" class="btn btn-default btn-create" />
                <p><i>Il vous reste <span id="ExamDuration"></span> secondes pour valider le test</i></p>
            </div>
        </form>
    </div>
</div>

@section Scripts{
    
    <script type="text/javascript">

        // Timeout Exam
        let durationS = @Model.Exam.Duration * 60;
        while (durationS != 0) {
            setTimeout(() => {
                durationS--;
                console.log(durationS);
                $("#ExamDuration").text(durationS);
            }, 1000)
        }
        location.replace('Exam/Result/' + @Model.Exam.ExamId);
    </script>
}