@using StudyCESI.Model.Entities;

@model CreateAnswerViewModel

@{
    ViewData["Title"] = "Réponse";
}

<h2>Créer les réponses</h2>

<div class="row">

    <!-- SUMMARY QUESTION -->
    <div class="col-md-4">
        <h4>Question</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Question.Header)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Question.Header)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Question.Mark)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Question.Mark)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Question.CreationDate)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Question.CreationDate)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Question.TypeQuestion)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Question.TypeQuestion.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Question.Subject)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Question.Subject.Name)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Question.User)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Question.User.UserName)
            </dd>
        </dl>
    </div>

    <div class="col-md-8">
        <h3>Editer les réponses</h3>

        <!-- BOOL -->
        @if (Model.IsBoolAnswer)
        {

            <form asp-action="CreateBoolAnswer">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="BoolAnswer.Answer" class="control-label">La réponse est vraie ?</label>
                    <input asp-for="BoolAnswer.Answer" class="form-control" />
                    <span asp-validation-for="BoolAnswer.Answer" class="text-danger"></span>
                </div>
                <input type="hidden" asp-for="BoolAnswer.QuestionId" value="@Model.Question.QuestionId" />
                <div class="form-group">
                    <input type="submit" value="Ajouter" class="btn btn-default" />
                </div>
            </form>
        }
        else if (Model.IsChoiceAnswer)
        {
        if (Model.ListChoiceAnswer != null)
        {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(m => m.ChoiceAnswer.Answer)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m => m.ChoiceAnswer.IsRight)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (ChoiceAnswer item in Model.ListChoiceAnswer)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Answer)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.IsRight)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        }
            
        <!-- CHOICE -->
        <form asp-action="CreateChoiceAnswer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ChoiceAnswer.Answer" class="control-label"></label>
                <input asp-for="ChoiceAnswer.Answer" class="form-control" />
                <span asp-validation-for="ChoiceAnswer.Answer" class="text-danger"></span>
            </div>
            @if ((bool)ViewData["ChoiceAnswersIsRight"] == false)
            {
                <div class="form-group">
                    <label asp-for="ChoiceAnswer.IsRight" class="control-label"></label>
                    <input asp-for="ChoiceAnswer.IsRight" class="form-control" />
                    <span asp-validation-for="ChoiceAnswer.IsRight" class="text-danger"></span>
                </div>
            }
            <input type="hidden" asp-for="ChoiceAnswer.QuestionId" value="@Model.Question.QuestionId" />
            <div class="form-group">
                <input type="submit" value="Ajouter" class="btn btn-default" />
            </div>
        </form>
                    
        }
        else if (Model.IsHoleAnswer)
        {
        <!--HOLE -->
        <form asp-action="CreateHoleAnswer">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Question.Header" class="control-label">Rajouter des [] pour encadrer la valeur du trou</label>
                <input asp-for="Question.Header" asp-route="questionHeader" class="form-control" />
                <span asp-validation-for="Question.Header" class="text-danger"></span>
            </div>
            <input type="hidden" asp-for="Question.QuestionId" value="@Model.Question.QuestionId" />
            <div class="form-group">
                <input type="submit" value="Ajouter" class="btn btn-default" />
            </div>
        </form>
        }
    </div>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Question.QuestionId">Modifier</a> |

    <form asp-action="Delete">
        <input type="hidden" asp-for="Question.QuestionId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Retour à la liste</a>
    </form>
</div>
