@model StudyCESI.Model.Entities.Question

@{
    ViewData["Title"] = "Details";
}

<h2>Question</h2>

<div>
    <h4>Détails de la question</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Header)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Header)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Mark)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Mark)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TypeQuestion)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TypeQuestion.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Subject)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Subject.Name)
        </dd>
    </dl>
</div>
<div class="link-back-list">
    <a asp-action="Edit" asp-route-id="@Model.QuestionId">Modifier</a> |
    <a asp-action="Index">Retour à la liste</a>
</div>
