@model IEnumerable<StudyCESI.Model.Entities.Question>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Créer une question</a> |
    <a asp-controller="Subjects" asp-action="Index">Les sujets</a> |
    <a asp-controller="TypeQuestions" asp-action="Index">Les types de question</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Header)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeQuestion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Header)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeQuestion.TypeQuestionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.SubjectId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.QuestionId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.QuestionId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.QuestionId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
