@model IEnumerable<StudyCESI.Model.Entities.Question>

@{
    ViewData["Title"] = "Index";
}

<h2>Liste des questions</h2>


<div style="text-align: end">
    <input type="button" value="Les sujets" onclick="location.href='@Url.Action("Index", "Subjects")'" class="btn btn-default" />
    <input type="button" value="Les types de question" onclick="location.href='@Url.Action("Index", "TypeQuestions")'" class="btn btn-default" />
    <input type="button" value="Créer une question" onclick="location.href='@Url.Action("Create", "Questions")'" class="btn btn-default btn-delete" />
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Header)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Mark)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TypeQuestion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subject)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Header)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mark)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeQuestion.TypeQuestionId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject.SubjectId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.QuestionId">Modifier</a> |
                <a asp-action="Details" asp-route-id="@item.QuestionId">Détails</a> |
                <a asp-action="Delete" asp-route-id="@item.QuestionId">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
