@model StudyCESI.Model.Entities.Subject

@{
    ViewData["Title"] = "Détails sujet";
}

<h2>Sujet</h2>

<div>
    <h4>Détails du sujet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CreationDate)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CreationDate)
        </dd>
    </dl>
</div>
<div class="link-back-list">
    <a asp-action="Edit" asp-route-id="@Model.SubjectId">Modifier</a> |
    <a asp-action="Index">Retour à la liste</a>
</div>
