@model IEnumerable<StudyCESI.Model.Entities.Subject>

@{
    ViewData["Title"] = "Index";
}

<h2>Liste des sujets</h2>

<div style="text-align: end">
    <input type="button" value="Créer un sujet" onclick="location.href='@Url.Action("Create", "Subjects")'" class="btn btn-default" />
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreationDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreationDate)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.SubjectId">Modifier</a> |
                    <a asp-action="Details" asp-route-id="@item.SubjectId">Détails</a> |
                    <a asp-action="Delete" asp-route-id="@item.SubjectId">Supprimer</a>
                </td>
            </tr>
        }
    </tbody>
</table>


<div class="link-back-list">
    <a href="@Url.Action("Index", "Questions")">Retour à la liste de questions</a>
</div>
